* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  --c1: #6b6bd6;
  --c2: #e74f4f;
  --c3: #fc921f;
  --c4: #149ece;

  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  color: #222;
  /* background-color:#C9E6F0; */

  
    background: 
      linear-gradient(45deg, rgba(255,0,150,0.3), transparent),
      linear-gradient(-45deg, rgba(0,204,255,0.3), transparent);
  
  
  padding-block: 2rem 3rem;
}

.charts{
  display: flex;
  place-content: center;
  flex-flow: wrap;
  gap: 2rem;
}
.pie{
  flex: 1 0 225px;
  max-width: 325px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid black;
  background-image: conic-gradient(from 30deg,
  var(--c1) 40%,
  var(--c2) 0 65%,
  var(--c3) 0 85%,
  var(--c4) 0,
  );

  display: flex;
  align-items: center;
  justify-content: center;
}

.donut {
  background-image: 
  radial-gradient(white 40%, transparent 0 70%, white 0),
    conic-gradient(
      from 30deg,
      var(--c1) 40%,
      var(--c2) 0 65%,
      var(--c3) 0 85%,
      var(--c4) 0
    );
}

.name{
  font-size: 36px;
}

.btn-3d {
  background-color: #e6f2ff; /* A soft blue */
  border: none;
  border-radius: 50%; /* Make it perfectly round */
  padding: 70px 18px;
  /* border-radius: 10px; */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  color: #333;
  cursor: pointer;
  font-size: 26px;
  
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}


.btn-3d:hover {
    background-color: #d2e5ff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Scale up by 5% */
}

.percentage{
  font-size: 50px;
}